* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem=10px */
  font-family: "poppins", sans-serif;
}
@media (max-width: 1280px) {
  html {
    font-size: 50%;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  border-bottom: 1px solid #e5e7eb;
}
.logo-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo-icon {
  color: #16a34a;
  font-size: 3rem;
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 2rem;
}
@media (max-width: 700px) {
  .nav-items {
    display: none;
  }
}
.nav-items a {
  text-decoration: none;
  color: #6b7280;
}
.sign-in-btn {
  text-decoration: none;
  color: #fff;
  background-color: #16a34a;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
}
.hero-container {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-basis: 50%;
}
.hero-text-tag {
  color: #4b5563;
  background: #e5e7eb;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
}
@media (max-width: 400px) {
  .hero-text-tag {
    font-size: 1rem;
  }
}
.hero-heading {
  font-size: 5rem;
}
@media (max-width: 900px) {
  .hero-heading {
    font-size: 3rem;
  }
}
.hero-paragraph {
  color: #1a2636;
  font-size: 1.5rem;
}
.hero-lists {
  list-style: none;
  font-size: 1.5rem;
}
.hero-list {
  color: #16a34a;
}
.outline-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 7px;
  border: 1px solid #e5e7eb;
}
.hero-btn-wrapper {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
}
@media (max-width: 740px) {
  /* .hero-container{
    flex-direction: column;
    gap: 2rem;
  } */
  .hero-img-wrapper {
    display: none;
  }
  .hero-content {
    flex-basis: 100%;
  }
}
.hero-img {
  width: 40rem;
  height: 30rem;
}
@media (max-width: 900px) {
  .hero-img {
    width: 40rem;
    height: 30rem;
  }
}
/* How it works */
.how-it-works {
  background-color: #e2f0f0;
  padding: 15rem 5rem;
}
.how-it-works-title h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
.how-it-works-title p {
  color: #6b7280;
  font-size: small;
  text-align: center;
}
.how-it-works-cards {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}
@media (max-width: 640px) {
  .how-it-works-cards {
    flex-direction: column;
  }
}
.card {
  background-color: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}
.card span {
  background-color: #e2f0f0;
  width: fit-content;
  padding: 0.5rem 0.6rem;
  border-radius: 0.5rem;
}
.card span i {
  color: #16a34a;
}
.card h4 {
  font-weight: 600;
  font-size: 1.3rem;
}
.card p {
  color: #6b7280;
  font-size: 1.4rem;
}
.card ul {
  color: #6b7280;
  font-size: 1.4rem;
  list-style: none;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Everything you need it one Place */
.everything-you-need {
  background-color: #f9f9f9;
  padding: 10rem 5rem;
}
.everything-you-need .card {
  border: 0.1rem solid #e5e7eb;
}

/* Ready to simplfy your grocery shopping? */
.ready-to-simplify {
  background-color: #e2f0f0;
  padding: 15rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ready-to-simplify-container {
  padding: 4rem 10rem;
  /* width: 26rem; */
  background-color: #16a34a;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.ready-to-simplify-container h3 {
  font-size: 3rem;
  font-weight: 600;
}
.ready-to-simplify-container p {
  font-size: 1.5rem;
}
.ready-to-simplify-container a {
  text-decoration: none;
  color: #16a34a;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;
}

/* Footer */
.footer {
  background-color: #f9f9f9;
  color: #6b7280;
  padding: 5rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
